<div class="page__footer-follow">
  <ul class="social-icons">
    <li>
      <a href="mailto:danielzhong2000@gmail.com" rel="nofollow noopener noreferrer">
        <i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email
      </a>
    </li>
    <li>
      <a href="https://github.com/danielzhong" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/danielzhong-/" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
      </a>
    </li>
    <li>
      <a href="/assets/resume.pdf" rel="nofollow noopener noreferrer">
        <i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> Resume
      </a>
    </li>
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; 2025 Daniel Zhong.
</div>
