.archive__item-teaser img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.archive__item {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
border-radius: 8px;
overflow: hidden;
}

.feature__wrapper::after {
display: none;
}